*{
    margin: 0;
    padding: 0;

}

#nav{
    display: flex;
    justify-content: space-evenly;
    height: 55px;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
#nav .material-icons{
    padding: 10px;
    position: absolute;
    left:0px;
 }

#nav .menu{
    padding: 15px;
    font-size: 12px;
    position: absolute;
    left:30px;
 }

#nav .img-nav img{
    padding: 15px;
     height: 30px;

 }

#header{
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin-top: 60px;
    background: #eae7e7;
        }
#header .img{
         height: 600px;
     }

#header .ficha{
    padding: 100px;
    text-align: center;
    position: relative;
    top: 90px;
    
     }
#header .ficha button{
     border-radius: 25px;
     padding: 10px 30px;
     margin: 30px;

    }

#header .ficha .red{
     background: red;
     color: white;
     position: relative;
     top: 50px;

    }
         
#header .ficha .black{
     background: black;
     color: white;
     }
 
#menus{
    
    display: flex;
    justify-content: center;
    position: sticky;
    top:20px;
    margin: 60px;
}

#menus .button button{
    padding: 7px 20px ;
    background: white;
    border-radius: 25px;
    border-width: 1.5px;
}   

#one { 
    display: flex;
    justify-content: center;
    padding: 50px;
    height: 300px;
    }

#one img{
    height: 250px;
        
       }

#one .imgOne{
    padding-left: 100px;
         }

#one .imgOne h2{
    position: relative;
    bottom: 25px;
    left: 60px;
         }

#one .list{
    padding-left: 100px;
    position: relative;
    top: 50px;  
    line-height: 120%;
              
        }
#one .list ul{
    position: relative;
    left: 50px;
    line-height: 120%;
         }


#two img{
    height: 950px;
        
    }

#three{
    display: flex;
    justify-content: center;
    padding: 100px;
    height: 300px;
    }

#three img{
    height: 250px;
        
    }

#three .imgThree{
    padding-left: 100px;
      }
         
#three .imgThree h2{
    position: relative;
    bottom: 50px;
    left: 60px;
      }

#three .text{
    padding-left: 100px;
    position: relative;
    top: 20px;
    line-height: 120%;
        
      }

#four{
    display: flex;
    justify-content: center;
    padding: 50px;
    height: 300px;
    }

#four img{
    height: 250px;
        
    }

#four .imgFour{
    padding-left: 100px;
      }
        
#four .imgFour h2{
    position: relative;
    bottom: 50px;
    left: 60px;
      }

#four .textInt{
    padding-left: 100px;
    position: relative;
    top: 20px;   
    line-height: 120%;     
      }

#five{
    display: flex;
    justify-content: center;
    padding: 60 px;
    height: 300px;
    }

#five img{

    height: 250px;
        
    }

#five .imgFive{

    padding-left: 100px;
    }
        
#five .textOut h2{
   position: relative;
   bottom: 20px;
   line-height: 120%;
    }

#five .textOut{

    padding-left: 100px;
    position: relative;
    top: 20px;        
    }

#six{

    display: flex;
    justify-content: center;
    padding: 100px;
    height: 300px;
    }

#six img{
    
    height: 250px;
        
    }

#six .imgSix{

    padding-left: 100px;
    
    }
       
#six .textOuter h2{

    position: relative;
    bottom: 10px;

     }

#six .textOuter{

    padding-left: 100px;
    line-height: 120%;
    
    }


 #end {

        display: flex;
        justify-content: space-evenly;
        padding-left: 35px;
        height: 200px;
    }

 #end  img{

        height: 40px;
    }

#end ol{
        font-size: small;
        font-size: 0.875em;
        line-height: 1.5em;
    }

#end ol ul{
        line-height: 1.8em;
        font-size: 14px;
    }

    #footer {
        display: flex;
        justify-content: space-evenly;
        height: 90px;
        font-size: 14px;
        position: relative;
        right: 25px;
       
    }

#footer .img{

        right: 120px;
        position: relative;
        bottom: 18px;
       
    }

#footer .twitter{

        padding-left: 15px;
        height: 40px;
    
    }
#footer .face{

        padding-left: 15px;
        height: 33px;
        
     }
          
#footer .youtube{

        padding-left: 20px;
        height: 33px;
     
     } 
           
#footer .insta{

        padding-left: 15px;
        position: relative;
        top: 5px;
        height: 45px;
    
    }
   
#end-footer {

        display: flex;

      }

#end-footer img{

        height: 80px;
        width: 84px;
    
    }